<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.dit.max.behaviouralbiometricphonelock" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrainActivity"
            android:label="@string/title_activity_train" >
        </activity>
        <activity
            android:name="ie.dit.max.evaluationClasses.CrossValidationActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".RegisterUser"
            android:label="@string/title_activity_register_user" >
        </activity>
        <activity
            android:name="ie.dit.max.foregroundAppStackOverflow.StackOverflowHomeScreen"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="ie.dit.max.foregroundAppStackOverflow.AnswersScreen"
            android:label="@string/title_activity_answers_screen" >
        </activity>
        <activity
            android:name="ie.dit.max.foregroundAppStackOverflow.QuestionBodyScreen"
            android:label="@string/title_activity_question_body_screen" >
        </activity>
        <activity
            android:name=".OptionsScreen"
            android:label="@string/title_activity_options_screen" >
        </activity>
        <activity
            android:name="ie.dit.max.foregroundAppCountriesPick.CountryListGameTrain"
            android:label="@string/title_activity_train_activity_first_screen" >
        </activity>
        <activity
            android:name="ie.dit.max.foregroundAppCountriesPick.CountryListGameTest"
            android:label="@string/title_activity_non_european_country_pick" >
        </activity>
        <activity
            android:name="ie.dit.max.evaluationClasses.UserValidationDifferentClassifiers"
            android:label="@string/title_activity_user_validation_different_classifiers" >
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name="ie.dit.max.evaluationClasses.AllUsersValidation"
            android:label="@string/title_activity_all_users_validation" >
        </activity>
        <activity
            android:name=".MyLockScreenActivity"
            android:label="@string/title_activity_my_lock_screen" >
        </activity>

        <receiver
            android:name=".MyAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@layout/admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".ViewRecomendedValues"
            android:label="@string/title_activity_view_recomended_values" >
        </activity>
    </application>

</manifest>
