<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.dit.max.behaviouralbiometricphonelock" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrainActivity"
            android:label="@string/title_activity_train" >
        </activity>
        <activity
            android:name=".CrossValidationActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".TestTapOnly"
            android:label="@string/title_activity_test_touch_only" >
        </activity>
        <activity
            android:name=".LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name=".RegisterUser"
            android:label="@string/title_activity_register_user" >
        </activity>
        <activity
            android:name="ie.dit.max.foregroundAppStackOverflow.StackOverflowHomeScreen"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="ie.dit.max.foregroundAppStackOverflow.AnswersScreen"
            android:label="@string/title_activity_answers_screen" >
        </activity>
        <activity
            android:name="ie.dit.max.foregroundAppStackOverflow.QuestionBodyScreen"
            android:label="@string/title_activity_question_body_screen" >
        </activity>
        <activity
            android:name=".OptionsScreen"
            android:label="@string/title_activity_options_screen" >
        </activity>
        <activity
            android:name="ie.dit.max.trainActivitiesSpecificToForegroundApp.TrainActivityFirstScreen"
            android:label="@string/title_activity_train_activity_first_screen" >
        </activity>
    </application>

</manifest>
